.chart-container {
    position: relative;
    height: 500px;
}

.chart-container .tooltip img {
    width: 100%;
    height: 100%;
}

svg {
    width: 100%;
    height: 100%;
}

svg text {
    font-size: 10px;
}

svg g.bubble circle {
    opacity: 0.9;
}

svg g.bubble rect.type-slide {
    stroke: #aaa;
    fill: #fff;
    cursor: pointer;
}