.chart-container {
    position: relative;
}

.chart-container .tooltip {
    position: absolute;
    padding: 2px 5px;
    margin-top: -30px;
    background-color: #eee;
    box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.2);
}

#chart-modal .modal-dialog {
    width: 800px;
}

#chart-modal .btn-close {
    position: absolute;
    margin: 10px 10px 0 0;
    top: 0;
    right: 0;
}

.user-id-buttons-container button {
    margin-right: 2px;
    margin-bottom: 2px;
}

svg {
    width: 700px;
    height: 300px;
}

svg.chart3 {
    height: 500px;
}

svg g.axis path, svg g.axis line {
    fill: none;
    stroke-width: 1px;
    stroke: #777;
}

svg text {
    font-size: 10px;
}

svg text.caption {
    font-size: 15px;
}

svg g.user-interaction-scatterplot .g-item circle {
    fill-opacity: 0.3;
    stroke-width: 3px;
}
